<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy for Earthcube Geocodes</title>
</head>
<body>
<div>This proxy creates a notebook in Google Collab from a template.
    It creates a notebook, stores it as a github gist then opens the notebook in google collab.
    The parameters passed are identifiers from the NSF Earthcube GeoCodes services.
    The earthcube utilites.py (ref to github and pypi) can be used to retrieve, JSON-LD files based on Dataset Science on Schema,
    extracted information such as downloads and descriptions of use in notebooks.</div>
<div><span>/mknb</span><ul>
    <li>url - url of the resource</li>
    <li>ext - encoding format of the resource.</li>
    <li>urn - urn geocodes urn. While passed url encoded, a custom encoding for a hash is needed: &lt;hash&gt; to replace a # </li>
    <li>template --  name of the template file to render. (optional: default: template.ipynb) </li>

</ul>

        <div>Note about url, urns, ext:</div>
 <div>A hash in the name of the item causes the rest of the url passed to be ignored.
To avoid this, we custom encode '#' as &lt;hash&gt;</div>
<pre>
so:

`ext=http://linked.earth/ontology/core/1.2.0/index-en.html#Dataset`

becomes:

`ext=http://linked.earth/ontology/core/1.2.0/index-en.html&lt;hash&gt;Dataset`
</pre>
<a href="readme" >Developer Readme</a>
    <hr/>
{% if user %}
<pre>
{{ user|tojson }}
</pre>
<a href="/logout">logout</a>
{% else %}
<a href="/login">login</a>
{% endif %}
</div>
</body>
</html>