<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy for Earthcube Geocodes</title>
</head>
<body>
<div>This proxy creates a notebook in Google Collab from a template. The parameters extracted  from the Scicence on Schema
JSON-LD files, and sent to the proxy</div>
<div><span>/mknb</span><ul>
    <li>url - url of the resource</li>
    <li>ext - encoding format of the resource.</li>
    <li>urn - urn geocodes urn. While passed url encoded, a custom encoding for a hash is needed: &gt; hash &lt; to replace a # </li>
    <li>template --  name of the template file to render. (optional: default: template.ipynb) </li>

</ul>
{% if user %}
<pre>
{{ user|tojson }}
</pre>
<a href="/logout">logout</a>
{% else %}
<a href="/login">login</a>
{% endif %}
</div>
</body>
</html>